.thanks{
	min-height: 200px;
	width: 100%;
	background-color: #B53939;
	color:white;
	padding-top: 0px;
}

.blank{
	min-height: 20px;
	width: 100%;
}
.container{
	min-height: 500px;
}
section{

}

 .thanks a{
 	color: white;
	border-style: double;
	border-radius: 15px;
	font-size: 0.6em;
	padding: 5px 20px;
}

.contents .logo {
	max-width: 100%;
}