#contact .contact-title h2{
  text-align: center;
}
#contact .contact-title{
  margin-bottom: 50px;
  color:white;
  background-color: cadetblue;
}

body{
  font-family: 'Avenir Next',Avenir,'Helvetica Neue',Helvetica,'Lantinghei SC','Hiragino Sans GB','Microsoft YaHei',"微软雅黑",STHeiti,'WenQuanYi Micro Hei',SimSun,sans-serif;
}

#contact .contact-title h3{
  font-size: 1.8em;
  margin-bottom: 30px;
}

#contact .contact-title h2{
  font-size: 4em;
}

#contact .contact-title h6{
  margin-top: 56px;
}

#contact .conference-form,#contact .contents{
  background-color: beige;
  color:black;
}
/*#contact .container{
  max-width: 600px;
}*/
#contact row{}
#contact .btn{
  margin-bottom: 20px;
}
#contact label{
  width: 100%;
  border-top: thin solid #eee;
  margin: 13px auto;
  padding-top:10px;
  font-weight: 500;
}
#contact input[type="checkbox"]{
	/*margin-left:10px; */
}
#contact .required{
	color:red;
}

#contact .submit-button{
	margin:15px 0px 45px 0px;
}

#contact .mid-form {
  background-color: wheat;
}

#contact .contents p {
  background-color: honeydew;
}

#contact .logo {
  width: 300px;
}