.thanks{
	min-height: 200px;
	width: 100%;
	background-color: cadetblue;
	color:white;
	padding-top: 0px;
}

.blank{
	min-height: 20px;
	width: 100%;
}
.container{
	min-height: 500px;
}
section{

}

.contents .logo {
	max-width: 100%;
}

/*@media (max-width: 700px) {
  #contact .logo {
    width: 300px;
  }
}*/