{{set . "title" "Home"}}
{{append . "moreScripts" "js/bootstrap.min.js"}}
{{append . "moreStyles" "css/bootstrap.min.css"}}
{{append . "moreStyles" "css/thanks.css"}}
{{template "header.html" .}}
<section>
<div class="container">
<div class="row blank"></div>
<div class="row thanks text-center">
  <!-- <div class=" col-sm-12 text-center"> -->
    <h2>非常感谢</h2>
    <h1>{{.info}}</h2>
    <h3>我们会尽快与您取得联系</h3>
    <p></p>
  <!-- </div> -->
</div>
<div class="row blank"></div>
</div>
</section>
{{template "footer.html" .}}
