{{set . "title" "活动系统后台"}}
{{append . "moreStyles" "css/vendor.css"}}
{{append . "moreStyles" "css/formbuilder.css"}}
{{append . "moreStyles" "css/summernote.css"}}
{{append . "moreScripts" "js/vendor.js"}}
{{template "header.html" .}}
<!-- <div id="show" ></div> -->
<div class="" id="show"></div>
{{template "footer.html" .}}
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/formbuilder.js"></script>
<script src="/public/js/exporttable.js"></script>
<script src="/public/js/summernote.js"></script>
<!-- <script src="/public/js/summernote-zh-CN.js"></script> -->
<script>
// 	$('#summernote').summernote({
//   height: 300,                 // set editor height
//   minHeight: null,             // set minimum height of editor
//   maxHeight: null,             // set maximum height of editor
//   focus: true                  // set focus to editable area after initializing summernote

// });
// $('#summernote').summernote({
//   airMode: true
// });

</script>

<script src="/public/js/backend.js"></script>

 <!--<script src="/public/js/backend.js" type="text/javascript" charset="utf-8"></script>-->
</html>