{{set . "title" "未来论坛年会报名"}}
{{append . "moreStyles" "css/vendor.css"}}
{{append . "moreStyles" "css/formbuilder.css"}}
{{append . "moreScripts" "js/vendor.js"}}

{{template "header.html" .}}
<!-- <div id="show" ></div> -->
<div id='formbuilder'></div>
{{template "footer.html" .}}
<script src="/public/js/formbuilder.js"></script>
<script>
	$(function(){
      fb = new Formbuilder({
        selector: '#formbuilder',
        bootstrapData: [
          {
            "label": "Do you have a website?",
            "field_type": "website",
            "required": false,
            "field_options": {},
            "cid": "c1"
          },
          {
            "label": "Please enter your clearance number",
            "field_type": "text",
            "required": true,
            "field_options": {},
            "cid": "c6"
          },
          {
            "label": "Security personnel #82?",
            "field_type": "radio",
            "required": true,
            "field_options": {
                "options": [{
                    "label": "Yes",
                    "checked": false
                }, {
                    "label": "No",
                    "checked": false
                }],
                "include_other_option": true
            },
            "cid": "c10"
          },
          {
            "label": "Medical history",
            "field_type": "file",
            "required": true,
            "field_options": {},
            "cid": "c14"
          }
        ]
      });

      fb.on('save', function(payload){
        console.log(payload);
      })
    });
</script>
 <!--<script src="/public/js/backend.js" type="text/javascript" charset="utf-8"></script>-->
</html>