{{set . "title" "客户信息"}}
{{append . "moreScripts" "js/bootstrap.min.js"}}
{{append . "moreStyles" "css/bootstrap.min.css"}}
{{append . "moreStyles" "css/table2.css"}}
{{append . "moreScripts" "js/infotable.js"}}
{{template "header.html" .}}

<!-- <div id="show"></div>
{{template "footer.html" .}}
  <script>
  var s={{.infomap}}
  window.data=JSON.parse(s)
  </script>
  <script src="/public/js/infotable.js" type="text/javascript" charset="utf-8"></script>
</html> -->

<div id="show"></div>
{{template "footer.html" .}}
  <script type="text/javascript">

  function sortTime(x,y)
  {
    var a = x["Timestamp"], b = y["Timestamp"];
    if (a < b) {
      return -1;
    } else if (a > b) {
      return 1;
    } else {
      return 0;
    }
  }

  var s={{.infomap}}
  var xx=JSON.parse(s)
  window.data=xx.sort(sortTime)

  console.log("{{.sc}}")
  </script>
  <script src="/public/js/infotable.js" type="text/javascript" charset="utf-8">

  </script>

</html>